.g-simplemenu-particle {
    @include display(flex);
    @include justify-content(center);

    @include breakpoint(mobile-only) {
        @include flex-direction(column);
        @include justify-content(space-between);
    }

    @include breakpoint(tablet-range) {
        @include justify-content(space-around);
    }

    h6 {
        margin: 0 0 $content-margin;
        text-transform: uppercase;
        letter-spacing: 1px;
        font-size: $core-font-size - 0.125;
        font-weight: $font-weight-medium;
    }

    .g-simplemenu-container {
        padding: $content-padding * 2;
        @include breakpoint(mobile-only) {
            padding: 0 0 ($content-padding * 2);
            text-align: center;
        }

        .g-simplemenu {
            list-style: none;
            margin: 0;
        }
    }
}
